In [1]:
%pip install -q langchain langchain-openai

Note: you may need to restart the kernel to use updated packages.

In [1]:
from dotenv import load_dotenv
# .env íŒŒì¼ì„ ë¶ˆëŸ¬ì™€ì„œ í™˜ê²½ ë³€ìˆ˜ë¡œ ì„¤ì •
load_dotenv()

True

#### 1. CommaSeparatedListOutputParser

In [2]:
from langchain_core.output_parsers import CommaSeparatedListOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
import csv

# ì½¤ë§ˆë¡œ êµ¬ë¶„ëœ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥ íŒŒì„œ ì´ˆê¸°í™”
output_parser = CommaSeparatedListOutputParser()

# ì¶œë ¥ í˜•ì‹ ì§€ì¹¨ ê°€ì ¸ì˜¤ê¸°
format_instructions = output_parser.get_format_instructions()

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template="List five {subject}.\n{format_instructions}",
    input_variables=["subject"],
    partial_variables={"format_instructions": format_instructions},
)

# OpenAI ëª¨ë¸ ì„¤ì •
model = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)

# í”„ë¡¬í”„íŠ¸, ëª¨ë¸, ì¶œë ¥ íŒŒì„œë¥¼ ì—°ê²°í•˜ì—¬ ì²´ì¸ ìƒì„±
chain = prompt | model | output_parser

# "AI ê´€ë ¨ ê¸°ìˆ "ì— ëŒ€í•œ ì²´ì¸ í˜¸ì¶œ ì‹¤í–‰
result = chain.invoke({"subject": "AI ê´€ë ¨ ê¸°ìˆ "})

# ì‰¼í‘œë¡œ êµ¬ë¶„ëœ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥
print("AI ê´€ë ¨ ê¸°ìˆ  ëª©ë¡:")
print(result)

# ê²°ê³¼ í™œìš© ì˜ˆì‹œ: CSV íŒŒì¼ë¡œ ì €ì¥
csv_filename = "data/ai_technologies.csv"
with open(csv_filename, "w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["AI ê¸°ìˆ "])  # í—¤ë” ì¶”ê°€
    for item in result:
        writer.writerow([item])

print(f" '{csv_filename}' íŒŒì¼ë¡œ ì €ì¥ ì™„ë£Œ!")

AI ê´€ë ¨ ê¸°ìˆ  ëª©ë¡:
['Machine learning', 'Natural language processing', 'Computer vision', 'Robotics', 'Deep learning']
 'data/ai_technologies.csv' íŒŒì¼ë¡œ ì €ì¥ ì™„ë£Œ!

#### 2. JsonOutputParser

In [3]:
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.output_parsers import JsonOutputParser
from langchain_openai import ChatOpenAI
import json

# JSON ì¶œë ¥ íŒŒì„œ ì´ˆê¸°í™”
parser = JsonOutputParser()

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ì„ ì„¤ì •í•©ë‹ˆë‹¤.
prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "ë‹¹ì‹ ì€ ê³¼í•™ ë¶„ì•¼ ì „ë¬¸ê°€ AIì…ë‹ˆë‹¤. ì§ˆë¬¸ì— ëŒ€í•´ ì²´ê³„ì ì´ê³  ê°„ê²°í•œ ë‹µë³€ì„ JSON í˜•ì‹ìœ¼ë¡œ ì œê³µí•˜ì„¸ìš”."),
        ("user", "#Format: {format_instructions}\n\n#Question: {question}"),
    ]
)

# JSON ì¶œë ¥ í˜•ì‹ ì§€ì¹¨ì„ í”„ë¡¬í”„íŠ¸ì— ì ìš©
prompt = prompt.partial(format_instructions=parser.get_format_instructions())

# OpenAI ëª¨ë¸ ì„¤ì •
model = ChatOpenAI(model="gpt-3.5-turbo-0125", temperature=0)

# í”„ë¡¬í”„íŠ¸, ëª¨ë¸, ì¶œë ¥ íŒŒì„œë¥¼ ì—°ê²°í•˜ëŠ” ì²´ì¸ ìƒì„±
chain = prompt | model | parser

# ì§ˆë¬¸ ì„¤ì • (ìš°ì£¼ íƒì‚¬ ê´€ë ¨ ì§ˆë¬¸)
question = "ìµœê·¼ 10ë…„ê°„ ì§„í–‰ëœ ì£¼ìš” ìš°ì£¼ íƒì‚¬ ë¯¸ì…˜ 3ê°€ì§€ë¥¼ ì•Œë ¤ì£¼ì„¸ìš”. \
ê° ë¯¸ì…˜ì˜ ì´ë¦„ì€ `mission_name`ì—, ëª©í‘œëŠ” `goal`ì—, ì£¼ê´€ ê¸°ê´€ì€ `agency`ì— ë‹´ì•„ ì£¼ì„¸ìš”."

# ì²´ì¸ ì‹¤í–‰ ë° JSON ì‘ë‹µ ë°›ê¸°
response = chain.invoke({"question": question})

# JSON ë°ì´í„° ì¶œë ¥
print(json.dumps(response, indent=4, ensure_ascii=False))

{
    "missions": [
        {
            "mission_name": "New Horizons",
            "goal": "í”Œë£¨í† ì™€ ì¿ ì´í¼ ë²¨íŠ¸ ì§€ì—­ì˜ íƒì‚¬",
            "agency": "NASA"
        },
        {
            "mission_name": "Curiosity",
            "goal": "í™”ì„± í‘œë©´ì˜ ì§€ì§ˆí•™ì , í™”í•™ì  ì¡°ì‚¬",
            "agency": "NASA"
        },
        {
            "mission_name": "Rosetta",
            "goal": "67P/ì¶”ë¦¬ëª¨í”„-ê²Œë¼ì‹œë©˜ì½” í˜œì„± ì¡°ì‚¬",
            "agency": "ESA"
        }
    ]
}

#### 3. PandasDataFrameOutputParser

In [5]:
import pandas as pd
from langchain.output_parsers import PandasDataFrameOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
import re

# Titanic ë°ì´í„°ì…‹ ë¡œë“œ
df = pd.read_csv('data/titanic.csv')

# ChatOpenAI ëª¨ë¸ ì´ˆê¸°í™”
model = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo")

# Pandas DataFrame Output Parser ì„¤ì •
parser = PandasDataFrameOutputParser(dataframe=df)

# í˜•ì‹ ì§€ì¹¨ ì¶œë ¥
format_instructions = parser.get_format_instructions()
#print("Format Instructions:\n", format_instructions)

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template=""" 
    You are a helpful assistant that interacts with a Pandas DataFrame.
    The DataFrame contains the following columns: {columns}.
    
    Your task is to answer the user's query by generating a command in the following format:
    {format_instructions}
    
    User Query: {query}    
    """,
    input_variables=["query"],
    partial_variables={
        "format_instructions": format_instructions,
        "columns": ", ".join(df.columns)
    },
)

# ì²´ì¸ ìƒì„±
chain = prompt | model | parser

# ëª¨ë¸ ì‘ë‹µ ë°›ê¸°
try:
    # **Name ì—´ì„ í‘œì‹œí•˜ì‹­ì‹œì˜¤.**
    print('Name ì»¬ëŸ¼ ì¶œë ¥')
    df_query = "Show the Name column"

    parser_output = chain.invoke({"query": df_query})
    print(type(parser_output))
    print(parser_output)

        # **ì²«ë²ˆì§¸ í–‰ì„ í‘œì‹œí•˜ì‹­ì‹œì˜¤.**
    print('ì²«ë²ˆì§¸ í–‰ ì¶œë ¥')
    df_query2 = "Show first row"

    parser_output2 = chain.invoke({"query": df_query2})
    print(parser_output2)

except Exception as e:
    print(f"ì˜¤ë¥˜ ë°œìƒ: {e}")

Name ì»¬ëŸ¼ ì¶œë ¥
<class 'dict'>
{'Name': 0                                 Mr. Owen Harris Braund
1      Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                                  Miss. Laina Heikkinen
3            Mrs. Jacques Heath (Lily May Peel) Futrelle
4                                Mr. William Henry Allen
                             ...
882                                 Rev. Juozas Montvila
883                          Miss. Margaret Edith Graham
884                       Miss. Catherine Helen Johnston
885                                 Mr. Karl Howell Behr
886                                   Mr. Patrick Dooley
Name: Name, Length: 887, dtype: object}
ì²«ë²ˆì§¸ í–‰ ì¶œë ¥
{'0': Survived                                        0
Pclass                                          3
Name                       Mr. Owen Harris Braund
Sex                                          male
Age                                          22.0
Siblings/Spouses Aboard                         1
Parents/Children Aboard                         0
Fare                                         7.25
Name: 0, dtype: object}

In [6]:
import pandas as pd
from langchain.output_parsers import StructuredOutputParser, ResponseSchema
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI

# OpenAI ëª¨ë¸ ì´ˆê¸°í™”
model = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo")

# ì‘ë‹µ ìŠ¤í‚¤ë§ˆ ì •ì˜
response_schemas = [
    ResponseSchema(name="data", description="A list of dictionaries representing table rows."),
]

# Output Parser ì„¤ì •
parser = StructuredOutputParser.from_response_schemas(response_schemas)

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template="""
    You are an AI assistant that generates tabular data. 
    You must return the data in JSON format that follows this schema:
    
    {format_instructions}
        
    **User Query:**
    {query}
    """,
    input_variables=["query"],
    partial_variables={"format_instructions": parser.get_format_instructions()},
)

# ì²´ì¸ ìƒì„± (í”„ë¡¬í”„íŠ¸ â†’ ëª¨ë¸ â†’ OutputParser)
chain = prompt | model | parser

# ì‹¤í–‰ í•¨ìˆ˜
def generate_dataframe(user_query):
    try:
        # ëª¨ë¸ í˜¸ì¶œ
        json_response = chain.invoke({"query": user_query})

        # ëª¨ë¸ì´ ë°˜í™˜í•œ JSONì„ Pandas DataFrameìœ¼ë¡œ ë³€í™˜
        df = pd.DataFrame(json_response["data"])

        # ê²°ê³¼ ì¶œë ¥
        print("\nğŸ”¹ Generated DataFrame:\n")
        return df

    except Exception as e:
        print(f"âŒ ì˜¤ë¥˜ ë°œìƒ: {e}")
        return None

In [7]:
# [ì˜ˆì œ 1] 2024ë…„ ìƒë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±
print('2024ë…„ ìƒë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±')
df_seoul_housing = generate_dataframe(
    "Create a dataset of the average apartment sale prices in Seoul for the first half of 2024 with columns: District (êµ¬), Average Price (in KRW), Number of Transactions, and Year-over-Year Change (%)."
)
df_seoul_housing.head()

2024ë…„ ìƒë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±

ğŸ”¹ Generated DataFrame:

,District,Average Price (in KRW),Number of Transactions,Year-over-Year Change (%)
0,Gangnam-gu,1200000000,500,5.2
1,Mapo-gu,800000000,300,3.8
2,Seocho-gu,1100000000,450,4.5
3,Songpa-gu,950000000,400,3.2

In [11]:
print('2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°')
# [ì˜ˆì œ 2] 2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°
df_seoul_subway = generate_dataframe(
    "Generate a dataset of the top 10 busiest subway stations in Seoul in 2024 with columns: Station Name, Line Number, Daily Passenger Volume, and Weekday vs Weekend Ratio."
)
if df_seoul_subway is not None:
    df_seoul_subway.head()

2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°

ğŸ”¹ Generated DataFrame:

In [12]:
print('í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜')
# [ì˜ˆì œ 3] í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜
df_korean_convenience_stores = generate_dataframe(
    "Create a dataset of the top 5 convenience store brands in Korea in 2024 with columns: Brand Name, Number of Stores, Total Revenue (in billion KRW), and Market Share (%)."
)
df_korean_convenience_stores.head()

í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜

ğŸ”¹ Generated DataFrame:

,Brand Name,Number of Stores,Total Revenue (in billion KRW),Market Share (%)
0,CU,15000,20,30
1,GS25,12000,15,25
2,7-Eleven,10000,12,20
3,Emart24,8000,10,15
4,Mini Stop,6000,8,10